﻿@model List<ContactInfo.Models.Contacts>
@{
    ViewBag.Title = "Contact";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h2 style="font-weight:"bold";>Contacts</h2>

                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>no</th>
                                <th>name</th>
                                <th>phoneno</th>
                                <th>email</th>
                                <th>houseno</th>
                                <th></th>


                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }

                            @foreach (var contact in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@contact.name</td>
                                    <td>@contact.phoneno</td>
                                    <td>@contact.email</td>
                                    <td>@contact.houseno</td>
                                    <td>
                                        @Html.ActionLink("Details", "Details", new { id = contact.id }) |
                                        @Html.ActionLink("Update", "Edit", new { id = contact.id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = contact.id })
                                    </td>

                                </tr>
                                i++;

                            }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
